
/*
These are selectors that are not yet supported in version 2.0 of
garden I trimmed our code to 2.0 because there was a bug with
color-output in 1.x as well as there where some missing features.
Unfortunately it was a bad call as there where many more broken things
in 2.0, but at-least our upgrade-path is way easier now.
*/


/* Container */
.Container.layout-horizontally:not(.compact) > * + * { margin-left: 1rem; }
.Container.layout-vertically:not(.compact) > * + * { margin-top: 1rem; }


/* Dialog */
.Dialog:not(.open) { display: none; }


/* Drop-down */
/*.Dropdown:not(.open) { transform: translateY(100%) scale(0); -webkit-transform: translateY(100%) scale(0); }*/


/* Color-picker */
.Swatch::-webkit-color-swatch-wrapper { padding: 0; }
.Swatch::-webkit-color-swatch { border: 0; }


/* Sidebar */
.Sidebar:not(.locked) {}
.Sidebar:not(.locked) .Slider, .Sidebar:not(.locked).ontop sidebar { transition: 500ms ease; }
.Sidebar:not(.locked).align-left sidebar { left: -360px; }
.Sidebar:not(.locked).align-right sidebar { right: -360px; }
.Sidebar:not(.locked).open .Backdrop { opacity: 1; z-index: 8; }
.Sidebar:not(.locked).open:not(.ontop).align-left .Slider { transform: translateX(360px); }
.Sidebar:not(.locked).open:not(.ontop).align-right .Slider { transform: translateX(-360px); }
.Sidebar:not(.locked).open.ontop sidebar { box-shadow: 0 0 6rem rgba(0,0,0,0.5); }
.Sidebar:not(.locked).open.ontop.align-left sidebar { transform: translateX(360px); }
.Sidebar:not(.locked).open.ontop.align-right sidebar { transform: translateX(-360px); }
.Sidebar.locked main { width: calc(100% - 360px); }
.Sidebar.locked.align-left > .Slider > main { margin-left: 360px; }


/* Worksheet */
.Worksheet:not(.Caption) .Titlerow:first-child .Titlecolumn { border-top: solid 1px rgb(230,230,230); }


/* Buttons */
.Button[disabled] { opacity: 0.1; }
