
/*
These are selectors that are not yet supported in version 2.0 of
garden I trimmed our code to 2.0 because there was a bug with
color-output in 1.x as well as there where some missing features.
Unfortunately it was a bad call as there where many more broken things
in 2.0, but at-least our upgrade-path is way easier now.
*/


/* Container */
.Container:not(.Vertically):not(.Compact) > * + * { margin-left: 1rem; }
.Container.Vertically:not(.Compact) > * + * { margin-top: 1rem; }
.Container:not(.Vertically) { flex-direction: row; -webkit-flex-direction: row; }
.Container:not(.No-wrap) { flex-wrap: wrap; -webkit-flex-wrap: wrap; }
.Container:not(.No-gap) { padding: 2rem; }
.Container:not([class~=Align]) { align-items: flex-start; -webkit-align-items: flex-start; }
.Container:not([class~=Justify]) { justify-content: flex-start; -webkit-justify-content: flex-start; }


/* Dialog */
.Dialog:not(.Open) { display: none; }


/* Drop-down */
.Dropdown:not(.Open) { transform: translateY(100%) scale(0); -webkit-transform: translateY(100%) scale(0); }


/* Color-picker */
.Swatch::-webkit-color-swatch-wrapper { padding: 0; }
.Swatch::-webkit-color-swatch { border: 0; }


/* Sidebar */
.Sidebar:not(.Locked) {}
.Sidebar:not(.Locked) .Slider, .Sidebar:not(.Locked).Ontop sidebar { transition: 500ms ease; }
.Sidebar:not(.Locked).Align-left sidebar { left: -360px; }
.Sidebar:not(.Locked).Align-right sidebar { right: -360px; }
.Sidebar:not(.Locked).Open .Backdrop { opacity: 1; z-index: 8; }
.Sidebar:not(.Locked).Open:not(.Ontop).Align-left .Slider { transform: translateX(360px); }
.Sidebar:not(.Locked).Open:not(.Ontop).Align-right .Slider { transform: translateX(-360px); }
.Sidebar:not(.Locked).Open.Ontop sidebar { box-shadow: 0 0 6rem rgba(0,0,0,0.5); }
.Sidebar:not(.Locked).Open.Ontop.Align-left sidebar { transform: translateX(360px); }
.Sidebar:not(.Locked).Open.Ontop.Align-right sidebar { transform: translateX(-360px); }
.Sidebar.Locked main { width: calc(100% - 360px); }
.Sidebar.Locked.Align-left > .Slider > main { margin-left: 360px; }


/* Worksheet */
.Worksheet:not(.Caption) .Titlerow:first-child .Titlecolumn { border-top: solid 1px rgb(230,230,230); }
