

/* Container */
.Container:not(.Vertically):not(.Compact) > * + * { margin-left: 1rem; }
.Container.Vertically:not(.Compact) > * + * { margin-top: 1rem; }
.Container:not(.Vertically) { flex-direction: row; -webkit-flex-direction: row; }
.Container:not(.No-wrap) { flex-wrap: wrap; -webkit-flex-wrap: wrap; }
.Container:not(.No-gap) { padding: 2rem; }
.Container:not([class~=Align]) { align-items: flex-start; -webkit-align-items: flex-start; }
.Container:not([class~=Justify]) { justify-content: flex-start; -webkit-justify-content: flex-start; }


/* Dialog */
.Dialog:not(.Open) { display: none; }


/* Drop-down */
.Dropdown:not(.Open) { transform: translateY(100%) scale(0); -webkit-transform: translateY(100%) scale(0); }
